@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0px;
  padding: 0px;
}

.cursor{cursor: pointer;}
.info .text-light{color: #9b9bb4 !important}
.text-sml{font-size: 12px;}

body {
  font-family: "Lato", "san-serif";
  font-size: 14px;
}
.bg-blue {
  background: #233a95;
}
.headerWrapper {
  border-bottom: 1px solid rgb(0, 0, 0,0.1);
  padding-bottom: 10px;
}
.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p{
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
}
.headerWrapper .header{
  width: 100%;
  height: auto;
  padding: 15px 0px;
}
.logoWrapper img{
  width: 100%;
}
.headerWrapper .header .part2 .countryDrop{
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000;
  border: 1px solid rgb(0, 0, 0,0.7);
  border-radius: 7px;
  padding: 10px 15px;
}
.headerWrapper .header .part2 .countryDrop{
  text-align: left;
  justify-content: flex-start;
}
.headerWrapper .header .part2 .countryDrop .label{
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgb(0, 0, 0,0.5) !important;
  line-height: 18px;
}
.headerWrapper .header .part2 .countryDrop .name{
  font-size: 14px !important;
  font-weight: 700;
  text-transform: capitalize !important;
  color: #233a95 !important;
  line-height: 20px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg{
  opacity: 0.7;
}
/*search style starts here  */
.headerSearch{
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgb(0, 0, 0,0.1);
}
.headerSearch input{
  background-color: transparent !important;
  outline: none !important;
  width: 100%;
  height: 40px;
  border: none;
  border: 0px;
  font-size: 18px;
  padding: 0px 20px;
  color: rgb(0, 0, 0,0.6);
}
.headerSearch input::-webkit-input-placeholder{
  color: rgba(0, 0, 0,0.5);
}
.headerSearch Button{
  outline: none;
  position: absolute;
  color: #3e445a;
  border-radius: 50%;
  top: 6px;
  right: 5px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
}
.headerSearch .searchIcon{
  font-size: 35px;
  outline: none;
}
/* background padding for location search */
.locationModel .MuiPaper-elevation{
  padding: 25px;
  position: relative;

}
.locationModel .close_{
  outline: none;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 22px;
  color: rgb(0, 0, 0,0.7);
  border-radius: 60%;
  width: 45px;
  height: 45px;
  min-width: 40px;
}

.locationModel .countryList{
  margin-top: 10px;
  margin-bottom: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
}
.locationModel.countryList li{
  width: 100%;
  list-style: none;
}
.locationModel .countryList li Button{
  width: 100%;
  outline: none;
  justify-content: flex-start !important;
  text-transform: capitalize !important;
  color: #202324;
  padding: 10px 20px;
} 
.locationModel .countryList li Button:hover{
  background: #f1f1f1;
}
.locationModel .countryList li Button.active{
  background: #ccc !important;
}
::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
::-webkit-scrollbar-track{
  background: transparent !important;
}

header .part3 .circle{
  outline: none;
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: #000;
  align-items: center;
  border: 1px solid rgb(0, 0, 0,0.1);
  border-radius: 50%;
}
header .part3 .circle .svg{
  font-size: 22px;
}
header .cartTab .cartIcon{
  height: 50px;
  width: 50px;
  outline: none;
  border: 1px solid rgb(0, 0, 0,0.1);
  border-radius: 50%;
  font-size: 35px;
  color: #ea2b0f;
}
header .cartTab .cartIcon svg{
  font-size: 30px;
}
header .cartTab .price{
  font-size: 18px;
  font-weight: 700;
}
nav .container .navpart1 .catwrapper .allCatTab {
  outline: none;
  color: white;
  height: 45px;
  width: 100%;
  background: #2bbef9;
  padding: 8px 10px;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
}
nav .container .navpart1 .sideNavbar{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  border: 1px solid rgb(0, 0, 0,0.1);
  width: 100%;
  top: 125%;
  /* height: auto; */
  transition: all 0.2s ease-in-out;
}
nav .container .navpart1 .catwrapper .sideNavbar.open{
  z-index: 100;
  visibility: inherit;
  height: auto;
  opacity: 1;
  border: 1px solid rgb(0, 0, 0,0.1);
  width: 100%;
  top: 123%;
  background: white;
  min-width: 270px;
  /* border-radius: 10px; */
  /* transition: all 0.3s ease-in-out; */
}
nav .container .navpart1 .catwrapper .sideNavbar ul{
list-style: none;
} 
nav .container .navpart1 .catwrapper .sideNavbar ul li{
  position: static;
  width: 100%;
  padding: 5px 15px;
}
nav .container .navpart1 .catwrapper .sideNavbar ul li a{
  text-decoration: none;
  width: 100%;
}
nav .container .navpart1 .catwrapper .sideNavbar ul li a Button{
  width: 100%;
  display: flex;
  outline: none;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  justify-content: space-evenly;
  align-items: center;
}
nav .container .navpart1 .catwrapper .sideNavbar ul li a Button:hover{
  color: #2bbef9;
  background: none;
}
nav .navpart1 .catwrapper .sideNavbar ul li{
  position: static;
  padding-right: 15px;
}

nav .navpart1 .catwrapper .sideNavbar ul li .subMenu{
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: 100;
  height: auto;
  width: 180px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
nav .navpart1 .catwrapper .sideNavbar ul li:hover .subMenu{
  visibility: inherit;
  opacity: 1;
  transition: all 0.2s ease-in-out; 
}

nav .navpart1 .catwrapper .sideNavbar ul li .subMenu a{
  display: flex;
  flex-direction: row;
  width: 100%;
  color: rgb(0, 0, 0,0.8);
  padding: 5px 10px;
  text-transform: capitalize;
}
nav .navpart1 .catwrapper .sideNavbar ul li .subMenu a:hover{
  /* background: #f0faff; */
  color: #2bbef9;
}
nav .allCatTab:hover{
  background: #2bbef9;
}
nav .allCatTab .text{
  font-weight: 600;
}
nav .allCatTab .icon1{
  font-size: 20px;
}
nav .allCatTab .icon2{
  font-size: 20px;
}
nav .navpart2 ul{
  margin-bottom: 0px;
  justify-content: space-evenly;
}
nav .navpart2 ul li a{
  color: #3e445a;
  font-family: "Dosis";
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;

}
nav .navpart2 ul li a:hover{
  color: #2bbef9;
  background: #f0faff;
}
nav .navpart2 ul li{
  position: relative;
}
nav .navpart2 .subMenu{
  z-index: 100;
  position: absolute;
  visibility: hidden;
  background: #fff;
  width: 130%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  left: 2px;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding-left:5px ;
}
nav .navpart2 .subMenu a{
  display: block;
  width: 100%;
}
nav .navpart2 .subMenu a {
  outline: none;
  color: rgb(0, 0, 0,0.6);
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
  text-transform: capitalize !important;
  justify-content: flex-start;
}

nav .navpart2 ul li .subMenu a button a:hover a{
  background: #2bbef9;
}
nav .navpart2 ul li:hover .subMenu {
  visibility: inherit;
  opacity: 1;
  top: 100%;
}

.homeBannerSection{
position: relative;  
}
.homeBannerSection .slick-arrow{
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background: transparent;
}
.homeBannerSection .slick-arrow.slick-next{
  left:96%;
}
.homeBannerSection .slick-arrow.slick-next::before{
  font-size: 25px;
}
.homeBannerSection .slick-arrow.slick-prev{
  left:1%;
}
.homeBannerSection .slick-arrow.slick-prev::before{
  font-size: 25px;
}

.homeProducts{
  padding: 25px 0px;
  width: 100%;
}
.homeProducts .banner{
  width: 100%;
  border-radius: 7px;
  /* overflow: hidden; */
}
.homeProducts .banner img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
  object-fit: cover;
  
}
.productRow .hd{
  font-family: "dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.productRow .viewAllBtn{
  outline: none;
  text-transform: capitalize;
  color: #9b9bb4;
  border: 1px solid rgb(0, 0, 0,0.1);
  border-radius: 20px;
  padding: 5px 20px;
}
.productRow .viewAllBtn svg{
  font-size: 16px;
}

.productItem{
  width: 100%;
  height: auto;
  border:1px solid rgb(0, 0, 0,0.1);
  cursor:pointer;
}
.productItem .imgWrapper{
  position: relative;
}
.productItem .badge{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 75%;
  font-family: "dosis";
  padding: 3px 5px;
  background: #2bbef9;
}

.productItem .info {
  padding: 15px;
}
.productItem .info h4{
  font-size: 14px;
  font-weight: 600;
}
.productItem .info .stock{
  font-family: "dosis";
  font-size: 12px;
  
}
.productItem .price{
  display: flex;
  gap:10px;
  font-family:"dosis"
}
.productItem .price .oldPrice{
  color: rgb(0, 0, 0,0.3);
  font-weight: 700;
  font-size: 15.5px;
}
.productItem .price .newPrice{
  font-weight: 600;
  font-size: 18px;
}
.productItem .imgwrapper{
  overflow: hidden;
}
.productItem .imgwrapper img{
  transition:all 0.3s ease-in-out;
}
.productItem .imgwrapper:hover img{
  transform: scale(1.1);
}

.productItem .imgwrapper .actions{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  top:10px;
  right: -100px;
  visibility: hidden;
  opacity: 0;
}
.productItem .imgwrapper:hover .actions{
  visibility: inherit;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.productItem .imgwrapper .actions Button{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  min-width: 40px;
  border:1px solid rgb(0, 0, 0,0.1);
  margin-top: 2px;
  transition: all 0.1s ease-in-out;
  /* background: transparent; */
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%) !important;
  /* transition:  0.3s ease-in-out; */

}
.productRow .imgwrapper{
  overflow: hidden;
}
.productItem .imgwrapper:hover .actions{
  opacity: 1;
  right: 10px;
}
/* .productItem .imgwrapper .actions:hover .actions .heartBtn {
  transition: all 0.8s ease-in-out;
} */
.productItem .imgwrapper .actions Button:hover {
  background: #233a95
}
.productItem .imgwrapper .actions Button svg{
  font-size: 18px;
  color: rgb(0, 0, 0,0.5);
}
.productItem .imgwrapper .actions Button:hover svg{
  color: white;
}

.mySwiper .swiper-button-next {
  color: #000;       
  background-color: white; 
  padding: 10px;        
  background: transparent;
  border-radius: 50%;   
  right: 0px;        
}

.mySwiper .swiper-button-prev {
  color: #000;      
  background-color: white; 
  padding: 10px;        
  background: transparent;
  border-radius: 50%;   
  left: 0px;          
}

.mySwiper .swiper-button-next::after, 
.mySwiper .swiper-button-prev::after {
  font-size: 20px; 
}

.productRow2{
  flex-wrap: wrap;
  align-items: center;
}
.productRow2 .productItem{
  width: 25%;
  overflow: hidden;
}


